@use '../sass/library/responsive.scss';
@import '../sass/library/mixin.scss';


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #42495B;
}

header {
    height: 100vh;
    width:100%;
    background-image: url("img/Bg\ Shape.png");
    background-repeat: no-repeat;
    background-position: right top;




}

#logo{
    display: flex;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    height: 135px;
    margin-left: 10%;
    width: 100%;

        p{
        margin-left: 10px;
        display: flex;
        align-self: flex-end;
}

}

#imglogo img{
    margin-top: 40px;
    width: 82.65px;
    height: 95.71px;
}

#navbar {
    display: flex;
    justify-self: flex-end;
    height: 135px;
}

#socialmedia {
    display: flex;
    #smleft{
        width: 50%;
        margin-left: 15%;
        @include text;
        height: 340px;
        

        h1{
            font-size: 50px;
            font-weight: lighter;
        }
        h3{
            font-size: 74px;
            font-weight: bolder;
            
        }
        h4{
            font-size: 16px;
            font-weight: lighter;
            margin-bottom: 20px;
            
        }

        .btn{
            @include bluebtn;
            width: 200px;
            height: 100px;
            border-radius: 30px;
        }

    }

    #smright{
        margin-top: -150px;
    }
}

#we {
    height: 100vh;
    display: flex;

    #weright{
        @include text;
        height: 550px;
        width: 50%;
        margin-left: 5%;
        text-align: justify;
        background-image: url("img/background-we-are.png");

        h2{
            font-size: 20px;
            font-weight: lighter;
            color: #7E76F9;
        }

        h3{
            font-size: 50px;
            font-weight: bolder;
            margin-bottom: 20px;

        }

        p{
            font-size: 16px;
            font-weight: lighter;
            margin-bottom: 20px;
            line-height: 30px;

        }
        .btn{
            @include bluebtn;
            width: 130px;
            height: 50px;
            border-radius: 30px;
        }
       
    }

}

#offer {
    height: 120vh;

    #offerhead{
        margin-top: -50px;
        margin-left: 15%;
        margin-bottom: 50px;
    
        h2{
            font-size: 25px;
            font-weight: lighter;
            color: #7E76F9;

        }
        h3{
            font-size: 50px;
            font-weight: bolder;
        }
    }

    #offerbody{
        padding-left: 10%;
        padding-right: 10%;
        background-image: url("img/background-service.png");
        #offertop{
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            

            .box{
                @include box;
                img{
                    height: 85px;
                    width: 85px;
                    
                }

                h4{
                    text-align: justify;
                    margin-left: 20px;
                    font-size: 16px;
                    font-weight: bold;
                }

                p{
                    font-size: 12px;
                    text-align: left;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .btn{
                    @include bluebtn;
                    font-size: 12px;
                    font-weight: bold;
                    height: 25px;
                    width: 90px;
                    border-radius: 15px;
                    margin-left: 120px;
                }
                
            }
            

        }
        #offerbot{
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            

            .box{
                @include box;
                img{
                    height: 85px;
                    width: 85px;
                    
                }

                h4{
                    text-align: justify;
                    margin-left: 20px;
                    font-size: 16px;
                    font-weight: bold;
                }

                p{
                    font-size: 12px;
                    text-align: left;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .btn{
                    @include bluebtn;
                    font-size: 12px;
                    font-weight: bold;
                    height: 25px;
                    width: 90px;
                    border-radius: 15px;
                    margin-left: 120px;
                }

            }

        }
    }

}

#pricing{
    margin-top: 100px;
    height: 100vh;
    background-color: rgb(126,118,249,20%);

    #pricinghead{
        text-align: center;
        padding-top: 50px;
        h2{
            font-size: 15px;
            color: #7E76F9;
            font-weight: lighter;

        }
        h3{
            font-size: 38px;

        }

    }

    #pricingbody{
        display: flex;
        justify-content: space-around;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        .box{
            @include box;

            h4{
                font-size: 28px;
                font-weight: lighter;
            }

            p{
                font-weight: lighter;
            }

            .price{
                font-size: 28px;
                font-weight: bolder;
                color: #1000FF;
            }

            .btn{
                @include bluebtn;
                height: 44px;
                width: 140px;
                border-radius: 30px;
            }
        }
    }

}

#news{
    height: 50vh;
    padding-top: 150px;
    text-align: center;
    h2{
        font-size: 16px;
        color: #7E76F9;
    }
    h4{
        font-size: 20px;
        font-weight: normal;
    }
    #send{
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        padding-left: 28%;
        padding-right: 28%;
        input{
            border: none;
            background-color: #F6F7FB;
            width: 300px;
            height: 50px;
            color: #999999;
            text-align: center;
        }
        .btn{
            @include bluebtn;
            width: 150px;
            border-radius: 30px;
        }

    }
}

footer{
    background-image: url("img/footer.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}